<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837252747166-a1pci0oph1kll7jflj83gat8gbj8672u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837252747166-a1pci0oph1kll7jflj83gat8gbj8672u</string>
	<key>API_KEY</key>
	<string>AIzaSyC4WT2f1eJ1YZePXHWnGH2xqp6GwOlK2so</string>
	<key>GCM_SENDER_ID</key>
	<string>837252747166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FirstProject.ProgrammingStart</string>
	<key>PROJECT_ID</key>
	<string>covidapp-50831</string>
	<key>STORAGE_BUCKET</key>
	<string>covidapp-50831.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837252747166:ios:81a472fa0149770cba108f</string>
</dict>
</plist>